.contact{
    margin-top: 150px !important;
    padding: 0 !important;

}
.contactInnerBox h1{
    color: #ccd6f6;
    font-size: 60px;
    font-family: 'Hind', sans-serif;
}
.contactInnerBox p{
    color: #8892B0;
    font-size: 20px;
    font-family: 'Hind', sans-serif;
}
@media (max-width:768px) {
    .contact{
        margin-top: 30px !important;
    }
    .contactInnerBox h1 {
        font-size:24px;
        }
        .contactInnerBox p {
            font-size: 16px;
        }
}