.projects{
    margin-top: 150px !important;
}
.rightBox >span{
    color: #64FFDA!important;
    font-family: 'Roboto Mono', monospace;
}
.rightBox p{
    background-color: #112240;
    color: #A8b2d1;
    position: relative;
    width: 110%;
    z-index: 10;
    font-size: 18px;
    font-family: 'Hind', sans-serif;
}
.rightBox h1 {
    color: #ccd6f6;
    position: relative;
    z-index: 10;
    font-size: 26px;
    font-family: 'Hind', sans-serif;
}
@media (max-width: 768px) {
    .rightBox p {
        font-size: 16px;
        width: 100%;
        background-color: transparent;
    }
    .rightBox h1 {
        font-size: 20px;
    }
    .ProjectImgContainer{
        position: relative;
        z-index: 1;
    }
    .ProjectInfoContainer{
        position: relative;
        z-index: 3;
        background-color: #0a1930e3;
    }
    .projectBox{
        flex-direction: column ;
    }
    .projectBox::after{
        content:"";
        position:absolute;
        bottom: -30px;
        left:0;
        width:100%;
        height:2px;
        background-color:#A8b2d1;
        opacity:0.4;
        z-index:5;
    }
    .projects{
        margin-top: 50px !important;
    }
   
}